.dark {
    background-color: #333;
    color: white;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

#game-parameters {
    display: flex;
    justify-content: center;
}

#difficulty {
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

#light-dark-mode {
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

button {
    justify-self: center;
}

#game {
    display: flex;
    justify-content: center;
}

#board {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}

.tile {
    border: 1px solid #999;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 40pt;
}

.dark .tile {
    border: 1px solid grey;
}

p.selected {
    background-color: lightblue;
}

.dark p.selected {
    background-color: rgb(34, 46, 50);
}

p.incorrect {
    color: red;
}

.bottomBorder {
    border-bottom: 4px solid #999;
}

.rightBorder {
    border-right: 4px solid #999;
}

.dark .bottomBorder {
    border-bottom: 4px solid grey;
}

.dark .rightBorder {
    border-right: 4px solid grey;
}